@page "{searchString?}"
@model Meni
@{
    ViewData["Title"] = "MENU";
}

<head>
    <style>
        .imgS {
            max-width: 50%;
            height: auto;
        }
    </style>
</head>

<div class="text-left">
    <h1>MENU</h1>
   <form method="get">
       <div class="input-group">
           <input class="form-control" asp-for="SearchTerm"/>
           <div class="input-group-append">
               <button type="submit" class="btn btn-primary">Wyszukaj</button>
           </div>
       </div>
   </form>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                <p><strong>Nazwa</strong></p>
            </th>
            <th>
                <p><strong>Opis</strong></p>
            </th>
            <th>
                <p><strong>Zdjęcie</strong></p>
            </th>
            <th>
                <p><strong>Cena</strong></p>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;
        @foreach (var item in Model.Records.Take(3))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>  
                <img class=imgS src="@Url.Content(string.Format("~/{0}.jpg", @i++))"  alt = "question"/> 
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>            
            </tr>
        }
        }
    </tbody>
</table>
