@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Usuń dane";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Usunięcie danych spowoduje trwałe usunięcie Twojego konta bez możliwości odzyskania.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
               <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label">Hasło</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Usuń dane oraz konto</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}